extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jairo Bilbao

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Having studied a Degree in Computers engineering, with 10 years experience teaching several programming languages (Java, JavaScript, Android) in Spain, I have a strong educational background in IT as well as extensive hands-on experience in teamwork.  
            | Considering myself as an approachable, helpful, outgoing, adaptable and cheerful person, I have been always considerate as an honest, kind, polite and good listener person. It is said of me I am efficient, hard worker, responsible and able to work as part of a team.
            | I am currently seeking a new challenge and an opportunity to work in Australia and develop in this amazing country as a Software Developer. I’m living in Brisbane since 3rd July.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li React.js
          li Node.js
          li Express
          li SQL
          li Java
          li JQuery
          li API
          li Android
          li Mongo
        h6 Contact Info

        //- Add your own contact info
        ul
          li 0404-923-693
          li jairo.bilbao@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jairo-bilbao-b774a08b/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/JairoAussie', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/jairobilbao', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  